@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap');


html>body {

    background-color: rgba(2, 2, 0, 0.938);
}


.container-fluid {



    width: 90%;
    font-family: 'MuseoModerno', sans-serif;
    border: 1px dotted goldenrod;
    border-radius: 20px;
    margin: 1% auto;
    color:aliceblue;
    


}



/*

.slide {

    width: 100%;
    margin: 0 auto;
    padding: 15px;


}


.slide img {

    height: 45vh;
    border-radius: 30px;
    border: 2px solid white;
    padding: 2px;
    opacity: 0.8;

}


*/

.click {

    margin: 10% auto;
    text-align: center;
}



.page-header>h1 {

    width: auto;
    margin: 0 3%;
    background-color: rgba(218, 165, 32, 0.61);
    border-radius: 10px;
    padding: 1%;
    

}



.nav {


    width: auto;
    margin: 0 3%;
    padding: 2%;
    

}


.row-entrevista {

    overflow: auto;
    padding: 1%;



}

.album {

    margin: 2% auto;
}


.row {

    margin: 0 auto;
    padding: 2%;


}

.bio {

    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;

}


.col-md-4>p {

    text-align: justify;
    padding: 1%;

}


.style5 {

    margin: 0 auto;
    color: rgb(255, 255, 255);
    border: 1px dotted goldenrod;
    color: goldenrod;
    padding: 1%;
    text-decoration: none;

}

.formu {

    margin: 0 auto;
    color: black;
    width: 60%;
    background-color: rgba(255, 235, 205, 0.164);
    padding: 2%;
    border-top-right-radius: 15%;
    border-top-left-radius: 15%;
    box-shadow: 0px -1px 1px rgba(63, 63, 58, 0.411);



}



iframe {

    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(218, 165, 32, 0.61);
}


form {

    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto 3%;
    padding: 1%;


}


.row-contacto {

    margin: 0 auto;
    padding: 1%;

}

.col-md-6 {

    padding: 2%;
}


.titulos {

    margin: 0px 0px;
    width: auto;

}


.videos {

    margin: 0 auto;

}


.entre {

    list-style: none;
    padding-top: 2%;
    margin: 2% auto;

}




.boton-redireccion {


    border-radius: 10px;
    background-color: goldenrod;
    margin-top: 20px;
    box-shadow: 5px 2px 10px black;



}








@media screen and (max-width: 650px) {

    .container-fluid {


        font-family: 'MuseoModerno', sans-serif;
        border: 1px dotted goldenrod;
        border-radius: 20px;
        margin: 1% auto;


    }



    .row-entrevista {

        height: auto;
        margin: 2% auto;
        width: 100%;


    }

    .bio {

        margin: 0 auto;
        display: block;
        text-align: justify;
        padding: 1%;

    }

    .row {

        margin: 5% auto;
    }

    .bio>img {

        margin: 0 auto;
        display: block;
        width: auto;
        text-align: center;
    }

    .formu {

        width: auto;

    }

    form {

        width: 70%;
    }

    .contacto {

        width: auto;
    }

    .page-header>h1>small {

        font-size: 0.2em;
    }

    /*

    .slide {

        width: 100%;
        margin: 0 auto;
        padding: 15px;


    }


    .slide img {

        height: 35vh;
        border-radius: 30px;
        border: 2px solid white;
        padding: 2px;
        opacity: 0.8;

    }
*/

    .botones {

        margin: 0 auto;
        text-align: center;
        height: 50px;



    }


}

.botones {

    margin: 0 auto 5%;
    text-align: center;
    align-items: center;
    width: 90%;
    height: 50px;

}


footer {

    margin: 0 auto;
    text-align: center;
    height: 130px;
    width: 90%;
    border-radius: 10px;
    background-color: rgba(218, 165, 32, 0.61);


}